.custom-button {
    text-transform: uppercase;
    outline: none;
    width: max-content;
    border: none;
    box-sizing: border-box;
    background-color: #4caf50;
    padding: 20px;
    font-size: 14px;
    transition: all .3s ease;
    cursor: pointer;
    color: #fff;
}

.custom-button:hover,
.custom-button:active,
.custom-button:focus {
    background-color: #43a047;
}