.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

}

.riskStatus {
    color: #fff;
    font-size: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.riskStatus.minimal {
    background-color: #ff7875;
}

.riskStatus.medium {
    background-color: #f5222d;
}

.riskStatus.high {
    background-color: #5c0011;
}

.riskStatus.xsmall {
    background-color: #ffccc7;
}