.helloWorldWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100,.5);
    flex-direction: column;
}

.helloWorldImage{
    width: 250px;
    height: 250px;
    border: 4px dashed black;
    border-radius: 100%;
}
.helloWorldButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    outline: none;
    background-color: aqua;
    color: white;
    border-radius: 4px;
    margin: 30px;
}

.helloWorldP{
    font-size: 30px;
    color: black;
}